<div class="w-100" id="content">
    <div class="row">
        <h1 id="menu-title" class="col-lg-2 col-md-4 col-sm-6 col-xs-6 menu-title">Search</h1>
        <h1 id="job-title" class="col-lg-10 col-md-8 col-sm-6 col-xs-6 menu-title">My Jobs</h1>
    </div>
    <div class="row">
    <div id="sort-menu" class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
            <input type="text" id="search-input" onclass="input-group" onkeyup="filterJobs()" class="w-100">
            <a class="btn dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort by...
                  </a>
                
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="javascript:sortByComp();">Company Name</a>
                    <a class="dropdown-item" href="javascript:sortByPos();">Position</a>
                    <a class="dropdown-item" href="javascript:sortByLoc();">Location</a>
                    <a class="dropdown-item" href="javascript:sortByRank();">Rank</a>
                    <a class="dropdown-item" href="javascript:sortBySal();">Pay</a>
                  </div>
                  
    </div>
    <div class="col-lg-10 col-md-8 col-sm-6 col-xs-6 d-flexjustify-content-center" id="list-div">
       <div class="container">
           {{#each data}}
           <div class="container border">
               <h3>{{this.company}}</h3> 
               <ul>
                   <li>{{this.position}}</li>
                   <li>{{this.location}}</li>
                   <li>{{this.salaryHour}}</li>
                   <li>{{this.ranking}}</li>
                   <li><a href="/delete/{{this.jobID}}" class="btn btn-small btn-danger">Delete</a></li>
               </ul>
           </div>
           {{/each}}
       </div>
    </div>
</div>
